*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.card-row{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    
}
h2{
    padding-bottom: 15px;
}
p{
    padding: 10px;
}
h5{
    padding-top: 5px;
}
.card{
    width:100%;
    padding: 15px;
    border-radius: 10px 10px;
    box-shadow: 0 0 5px rgb(161, 156, 156);
}
